* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif; */
}

header {
    width: 100%;

    background-color: black;
    color: white;
    position: fixed;
    overflow: none;
    top: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.logo {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

nav.nav {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /* color: white; */
}

.nav ul {
    display: flex;
    gap: 50px;
}

.nav ul li {
    list-style: none;

}

.nav ul li a {
    text-decoration: none;
    color: white;
}

.nav ul li a:hover {
    border-bottom: 3px solid #ED661F;
    transition: .2s ease;
}

.active a {
    border-bottom: 3px solid #ED661F;
}

.call-action {
    display: flex;
    gap: 30px;
    align-items: center;
}

.call-action a {
    font-size: inherit;
    color: white;
    text-decoration: none;
    /* padding-bottom: 5px; */

}

.call-action a:hover {
    border-bottom: 3px solid #ED661F;
    transition: .2s ease;
}

.call-action button {
    background-color: #ED661F;
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 4px;
}

.call-action button.get-started:hover {
    border: 2px solid #ED661F;
    background-color: black;
    color: white;
    transition: .2s ease;
}

/* start hero section */

.hero-section {
    width: 100%;
    height: 90vh;
    /* background-color: #ED661F; */
    margin-top: 100px;
}

.container {
    /* margin-top: 100px; */
    background-color: black !important;
    width: 100%;
    height: 100%;
    background-image: url(../images/image\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right,
.hero-left {
    width: 100%;
    height: 100%;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right img {
    width: 80%;
    height: auto;
}

.hero-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero-inner-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-inner-left h1 {
    font-size: 40px;
    font-weight: 700;
}

.hero-inner-left p {
    font-size: 18px;
}

.explore {
    width: 150px;
    height: 50px;
    border-radius: 2px;
    border: none;
    background-color: #ED661F;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

button.explore:hover {
    background-color: black;
    transition: .3s ease;
    border-radius: 0 20px 0 20px;
}

.hero-bottom {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.hero-bottom-box {
    width: 50%;
    height: 150px;
    background-color: white;
    margin-top: -50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;

}

/* end hero section */

/* start mini about */
.mini-about {
    width: 100%;
    height: 80vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.mini-left {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.mini-container {
    width: 70%;
}

.mini-container h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.mini-container p {
    font-size: 18px;
    line-height: 35px;
}

.mini-container .hr {
    width: 20%;
    height: 3px;
    background-color: #ED661F;
    border: none;
}

.mini-right {
    width: 100%;
    height: auto;
}

.mini-right img {
    width: 70%;
    height: auto;
}

/* end mini about */

/* start products */
.products {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.title {
    padding-top: 20px;
    width: 100%;
    height: auto;
    text-align: center;
}

h2.title {
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
}

p.title {
    text-align: center;
    font-size: 18px;
}

.most-popular {
    margin-top: 30px;
    width: 90%;
    height: 100vh;
    /* background-color: red; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;


}
.first-col{
    width: 100%;
    height: auto;
}
.first-col h2{
    font-size: 22px;
    font-weight: 700;
}
.first-col h2 hr{
    width: 6%;
    height: 3px;
    background-color: #ED661F;
    border: none;
}
.images{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 30px;

}
.image-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    padding: 30px 0 30px 0;

}
.image-card img{
    width: 200px;
    height: auto;
    border-radius: 3px;
    margin-bottom: 5px;

}
.image-card p{
    font-size: 14px;
    margin: 5px 0 5px 0;
}
.see{
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: column;

}
.see .redmon{
    width: 100%;
    height: auto;
    margin-right: auto;
    float: right;
    font-size: 30px;
    /* background-color: red; */
    
}
.see hr{
    width: 6%;
    height: 3px;
    background-color: #ED661F;
    border: none;
    float: right;
    bottom: 0;
}
/* end products */

.gray{
    width: 100%;
    height: 30px;
    background-color: #333;
}


/* start testimonial section */
.testimonial{
    width: 100%;
    height: auto;
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
}
.test-container{
    padding-top: 30px;
    width: 90%;
    height: auto;
}
.test-inner{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.test-cont-h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.test-card{
    width: 300px;
    height: 200px;
    /* height: auto; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.active-star{
    color: #ED661F;
}
blockquote{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.profile img{
    width: 50px;
    height: auto;
}
.test-p{
    font-size: 18px;
    font-weight: 700;
    float: right;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span i{
    color: #ED661F;
}
/* end testimonial section */

/* start footer section */

.footer{
    width: 100%;
    height: 70vh;
    background-color: white;
}
.keep-touch{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    gap: 30px;
    margin-bottom: 10px;
}
.keep-touch h2{
    font-size: 30px;
    color: white;
}
.keep-touch p{
    font-size: 16px;
    color: white;
}
.form-input{
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 3px;
    text-align: center;
}
.btn-submit{
    width: 150px;
    height: 40px;
    background-color: #ED661F;
    color: white;
    border: none;
}

.footer-bottom{
    width: 100%;
    height: 40vh;
    background-color: black;
    color: white;
    display: flex;
    justify-items: center;
    align-items: center;
    /* flex-flow: row wrap; */

}
.footer-bottom .brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    /* background-color: black; */
    color: white;
}

.brand .icons{
    margin: 20px 0 20px 0;
}
.company{
    flex-grow: 2;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.company h2{
    font-size: 22px;
}
.company ul{
    margin-top: 10px;
    list-style: none;
}
.company ul li{
    padding: 5px;
}
.copy{
    background-color: black;
    color: white;
    text-align: center;
}
/* end footer section */